@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');



@keyframes progress-bar-stripes {
    0%{background-position: 1rem 0
}

to {
    background-position: 0 0
}}

@keyframes spinner-border {
    to {
        transform: rotate(360deg)
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0)
    }

    50% {
        opacity: 1;
        transform: none
    }
}

@keyframes action {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-15px)
    }
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #E09145;
    --secondary: #6ebbf6;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #fef1ef;
    --dark: #211e1c;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace
}

*,::after,::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth !important;
    -webkit-scroll-behavior: smooth !important;
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

body {
    margin: 0;
    font-family: 'EB Garamond', serif !important;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #11212d;
    text-align: left;
    background-color: #fff7ea;
    height: 3000px;
    overflow-x: hidden;
}

.text-primary {
    color: #ba986c !important;
    font-family: 'EB Garamond', serif !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
}

a {
    color: #937354;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    transition: .5s;
    scroll-behavior: smooth !important;
}

a:hover {
    color: #fcbf86!important;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/carousel-3.jpg);
    background-color: red;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
}

.glass {
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background: rgba(26, 26, 26, 0.459);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    z-index: -999;
}


.logo {
    width: 150px;

}

.flags {
    position: absolute;
    right: 50px;
}

.grecee,.usa {
    max-width: 40px;
    transition: .5s;
    margin: 0 3px;
}

.usa {
    height: 40px;
    border-radius: 25%
}

.grecee {
    height: 29px;
    border-radius: 5px;
    transform: translateY(-5px);
}

.flag:hover {
    scale: 1.1;
}

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 20%;
    padding: .5rem 5rem;
    transition: .5s;
    font-size: 1.5rem;
    background: #363636;
    background: linear-gradient(0deg,rgba(54, 54, 54, 0.15) 0%, rgba(0, 0, 0, 0.63) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;
}



/* .catalogue-title {
    font-family: 'EB Garamond', serif !important;
    font-size: 3rem !important;
    text-transform: uppercase;
    color: #bb996c; 
    transition: .5s;
} */

.catalogue-title:hover {
    color: #fcbf86 !important;
    transform: scale(1.1);
}

.catalogue-hero {
    margin-top: 20vh;
    display: flex;
    text-align: center;
}

.title-cont { 
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

.hero-title {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.hero-subtitle {
    font-size: 2.5rem;
    margin-top: -15px;
    font-weight: 500;
    text-transform: capitalize;
}

.arrow {
    font-size: 10rem;
    animation: action 1s infinite alternate;
    color: #ba986c;
    display: inline-block;
    transition: .5s;
}

.arrow:hover {
    color: #fcbf86 !important;
    scale: 1.1;
    cursor: pointer;
    animation: none;
}

.line {
    width: 2px;
    height: 100vh;
    background: #ba986c;
    opacity: 0.5;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 55px;
}

.best-cont {
    width: 100%;
    height: 90%;
}

.best-cont h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #ba986c;
    transition: .5s;
}

.hero-p {
    font-size: 1.3rem;
    margin: 20px auto;
    width: 400px;
}

.services-flex {
    display: flex;
    padding: 0 100px;
    width: 100%;
    justify-content: space-between;
}

.ser-cont h3 {
    font-size: 1.8rem;
    color: #ba986c;
    font-family: "Sofia", cursive;
}

.best-cont img {
    width: 300px;
    height: 50%;
    border-radius: 10px;  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: .5s;
}











::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #17191d
}

::-webkit-scrollbar-thumb {
    background: #e09145;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}