@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

@keyframes action {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(-15px)
    }
}

:root {
    --primary: #E09145;
    --secondary: #6ebbf6;
    --light: #fef1ef;
    --dark: #211e1c;
}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth !important;
    -webkit-scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-family: 'EB Garamond', serif !important;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #11212d;
    text-align: left;
    background-color: #fff7ea;
}

:lang(el) p,
:lang(el) li,
:lang(el) h4 {
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 1.1rem !important;
}

:lang(en) .big-text {
    font-size: .8rem !important;
}

.service-text h4 {
    font-size: 1.3rem !important;
}

.service-text p {
    font-size: .95rem !important;
}

:lang(el) .big-text {
    font-size: 1rem !important;
}

:lang(en) h2,
:lang(en) h3,
:lang(en) h4,
:lang(en) h5,
:lang(en) h6,
:lang(en) p,
:lang(en) li,
:lang(en) span,
:lang(en) a,
:lang(en) div {
    font-family: 'Poppins', sans-serif !important;
}

:lang(en) .navbar-brand {
    font-family: 'EB Garamond', serif !important;
}

:lang(en) .navbar-brand-apo {
    font-family: 'EB Garamond', serif !important;
}

:lang(en) .navbar-nav a {
    font-family: 'EB Garamond', serif !important;
}

.hcc, .yec {
    font-size: 1.3rem;
}

:lang(en) .hcc, 
:lang(en) .yec {
    text-transform: uppercase;
    font-weight: 400 !important;
}

.btn-hover {
    background-color: #937354 !important;
    color: #11212d!important;
    transition: .3s!important;
    font-weight: 400!important;
}

.btn-hover:hover {
    background-color: #937354 !important;
    color: #ffd0a2 !important
}

.modal-text {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-bottom: 1rem
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #211e1c;
    margin-top: 0
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

@media (max-width:1200px) {
    h2 {
        font-size: calc(1.325rem + .9vw)
    }
}

h3 {
    font-size: 1.75rem
}

@media (max-width:1200px) {
    h3 {
        font-size: calc(1.3rem + .6vw)
    }
}

h4 {
    font-size: 1.5rem
}

@media (max-width:1200px) {
    h4 {
        font-size: calc(1.275rem + .3vw)
    }
}

h5 {
    font-size: 1.25rem
}

h6 {
    padding: 5px;
    font-size: .85rem;
}

p, ul, ol {
    margin-top: 0;
    margin-bottom: 1rem
}

ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0
}

b, strong {
    font-weight: bolder
}

a {
    color: #937354;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    transition: .5s;
    scroll-behavior: smooth !important;
}

a:hover {
    color: #f5b67a!important;
    text-decoration: underline
}

img, svg {
    vertical-align: middle
}

img {
    border-style: none
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible;
    color: #fff!important
}

button, select {
    text-transform: none
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

textarea {
    overflow: auto;
    height: 47px!important;
    resize: none;
    padding: .6rem 1.5rem!important
}

.mr-2 {
    margin-right: .5rem!important
}

.logo {
    width: 170px;
    margin: 30px 0;
}

.hero-li {
    list-style: none!important
}

.cataloug-link-cont {
    transform: translateY(15px);
    text-align: center;
}

.cataloug-link {
    font-size: .9rem;
    font-family: "Dancing Script", cursive;
    letter-spacing: 2px;
}

.cataloug-link:hover {
    text-decoration: none;
    color: #937354 !important;
}

.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2
}

@media (max-width:1200px) {
    .display-4 {
        font-size: calc(1.475rem + 2.7vw)
    }
}

.img-fluid {
    height: 420px
}

.container, .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col, .col-6, .col-lg-5, .col-lg-6, .col-lg-7, .col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

@media (min-width:576px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width:992px) {
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
}

.gift-img {
    object-fit: cover !important;
    width: 100%;
    height: 100%;
    object-position: -90px;
}

@media (max-width:767.98px) {
    .map-cont {
        margin: 0 auto;
    }

    .about {
        height: 1850px !important;
    }

    .about-vid-cont {
        flex-direction: column;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(249,163,146,.25)
}

.form-control::placeholder {
    color: #eab683;
    opacity: 1;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}

.btn {
    display: inline-block;
    color: #757575;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 500
}

.btn:hover {
    color: #757575;
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(249,163,146,.25)
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn-primary {
    color: #212529;
    background-color: #937354;
}

.btn-primary:hover {
    color: #212529;
    background-color: #f6b67b;
    border-color: #f9cda4
}

.btn-primary.focus, .btn-primary:focus {
    color: #212529;
    background-color: #f6ba82;
    border-color: #fb9700;
    box-shadow: 0 0 0 .2rem rgba(217,144,130,.5)
}

.btn.btn-primary, .footer .btn-primary i {
    color: #fff!important
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block + .btn-block {
    margin-top: .5rem
}

.fade {
    transition: opacity .15s linear
}

.fade:not(.show) {
    opacity: 0
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none
}

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: .5rem 3rem;
    transition: .5s;
    font-size: 1.5rem;
    background: #363636;
    background: linear-gradient(0deg,rgba(54, 54, 54, 0.15) 0%, rgba(0, 0, 0, 0.63) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@media (max-width:575.98px) {
    .navbar {
        padding: .5rem 1rem
    }
}

.navbar, .navbar .container, .navbar .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0;
    outline: 0
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    border: 0;
    outline: 0
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    right: 50px
}

@media (max-width:575.98px) {
    .navbar-expand-sm > .container, .navbar-expand-sm > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:1200px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
        flex-wrap: nowrap
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5)
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7)
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23E09145' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.carousel, .carousel-inner {
    position: relative
}

.carousel.pointer-event {
    touch-action: pan-y
}

.carousel-inner {
    width: 100%;
    overflow: hidden
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block
}

.active.carousel-item-right, .carousel-item-next:not(.carousel-item-left) {
    transform: translateX(100%)
}

.active.carousel-item-left, .carousel-item-prev:not(.carousel-item-right) {
    transform: translateX(-100%)
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none
}

.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1
}

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s .6s
}

.carousel-caption {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

.align-items-center {
    align-items: center!important
}

.justify-content-center {
    justify-content: center!important
}

.justify-content-between {
    justify-content: space-between!important
}

.justify-content-start {
    justify-content: flex-start!important
}

.bg-primary {
    background-color: #e09145!important
}

.bg-light {
    background-color: #ffe09145 !important;
    border-radius: 10px
}

.bg-appointment {
    background: linear-gradient(rgba(33,30,28,.7),rgba(33,40,28,.7)),url(../img/place2.jpg),no-repeat center center;
    background-size: cover;
    margin: 100px 0 0 0 ;
    background-position: -150px;
}

.bg-transparent {
    background-color: transparent!important
}

.border {
    border: 1px solid #dee2e6!important
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important
}

.border-left {
    border-left: 1px solid #dee2e6!important
}

.border-primary {
    border-color: #a77445 !important
}

.d-none {
    display: none!important
}

.d-inline-block {
    display: inline-block!important
}

.d-block {
    display: block!important
}

.d-flex {
    display: flex!important
}

.flex-column {
    flex-direction: column!important
}

.flex-wrap {
    flex-wrap: wrap!important
}

.position-relative {
    position: relative!important
}

.position-absolute {
    position: absolute!important
}

.position-fixed {
    position: fixed!important
}

.w-100 {
    width: 100%!important
}

.h-100 {
    height: 100%!important
}

.min-vh-100 {
    min-height: 100vh!important
}

.m-0 {
    margin: 0!important
}

.mb-0, .my-0 {
    margin-bottom: 0!important
}

.mt-3, .my-3 {
    margin-top: 1rem!important
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important
}

.p-0 {
    padding: 0!important
}

.p-4 {
    padding: 1.5rem!important
}

.p-5 {
    padding: 3rem!important
}

.pt-5, .py-5 {
    padding-top: 3rem!important
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important
}

.pb-lg-0 {
    padding-bottom: 0!important
}

.pl-4 {
    padding-left: 1.5rem!important
}

.m-auto {
    margin: auto!important
}

.mx-0 {
    margin-right: 0!important;
    margin-left: 0!important
}

.text-center {
    text-align: center!important
}

.text-left {
    text-align: left!important
}

.text-uppercase {
    text-transform: uppercase!important
}

.text-white {
    color: #fff!important
}

.text-primary {
    color: #937354 !important
}

.text-bold {
    font-weight: 900!important
}

.hero-vid {
    filter: blur(2px);
    object-fit: cover
}

.text-secondary {
    color: #be9a75!important
}

.text-light {
    color: #fef1ef!important
}

.text-dark {
    color: #211e1c!important
}

.font-weight-bold, h1, h2 {
    font-weight: 700!important
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
}

.navbar-light .navbar-nav .nav-link {
    padding: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #211e1c;
    outline: 0
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
    color: #e09145
}

@media (max-width:991.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 15px
    }

    .map-cont {
        transform: translateX(0px) !important;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(33,30,28,.7);
    z-index: 1
}

.service-item img {
    position: relative;
    margin-top: 40px;
    transition: .5s
}

.service-item .service-text {
    position: absolute;
    width: 100%;
    height: calc(100% + 86px);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: rgba(33,30,28,.5);
    transition: .5s;
    z-index: 1
}

.service-item:hover .service-text {
    height: calc(100% + 40px)
}

.service-item:hover img {
    margin-top: 0
}

@media (min-width:992px) {
    .gift-img {
        object-fit: cover !important;
        object-position: -90px;
        top: 20px;
    }
}

.footer {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.apo-header {
    font-family: "Sofia", cursive;
    font-weight: 600 !important;
    font-size: 3rem !important;
    color: #937354 !important;
    margin-bottom: 30px;
}

.info-cont {
    max-width: 100% !important;
    display: flex;
    align-items: center;
}

.hours-text h1 {
    font-family: 'Poppins', sans-serif; 
    font-weight: 400 !important; 
}

.hours-text {
    min-width: 400px;
    margin: 0 auto !important;
}

.about-text {
    margin-right: 35px;
}

.hero-img {
    width: auto;
    height: 500px;
    margin: 0 !important;
}

.hero-img img {
    width: 350px;
    height: 500px !important;
}

.about-them {
    max-width: 400px;
}

.about-them hr {
    background-color: white;
    margin: 50px 0;
}

.footer a, .footer i, .footer p {
    color: #937354  !important
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #17191d
}

::-webkit-scrollbar-thumb {
    background: #e09145;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

h1 {
    margin-top: 0
}

button {
    padding: 7px 10px;
    margin-right: 5px
}

/* GALLERY */

.jw-modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0,0,0,.75);
    overflow: auto;
    opacity: 0;
    transition: opacity .3s ease-in;

}



.jw-modal .movement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.jw-modal.open {
    display: block;
    opacity: 1
}

.jw-modal-body {
    max-width: 850px;
    height: 550px;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    position: relative;
    display: flex
}

/* GALLERY */

.flag {
    margin-top: 25px;
    margin-left: 5px;
    transform: translateY(-10px);
    transition: .5s;
    cursor: pointer;
}

.flag:hover {
    scale: 1.1;
}

.grecee, .usa {
    max-width: 40px
}

.usa {
    height: 40px;
    content: inherit;
    border-radius: 25%
}

.grecee {
    margin-top: 25px;
    height: 30px;
    border-radius: 5px
}

.hero-container {
    margin-top: 200px;
}

.info-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.hero-khatia {
    width: 400px;
    height: auto;
}

.contact-btn {
    margin-top: 30px !important;
}

.hours-text {
    max-width: 600px;
}

.khatia-hero {
    width: 400px;
    height: 550px;
    border-radius: 10px;
}

/* ABOUT */

.about {
    width: 100%;
    height: 1000px;
    margin-bottom: 100px;
    border-bottom: 1px solid #a77445;
    background-image: url('../img/place.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.about-blur {
    width: 100%;
    height: 100%;
    display: flex;
    background: #252525;
    background: linear-gradient(0deg,rgba(32, 32, 32, 0.15) 0%, rgba(0, 0, 0, 0.747) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.about-cont {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px;
    justify-content: center;
    position: relative;
    top: 180px;
}

.about-vid-cont {
    display: flex;
    justify-content: center;
}

.about-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 100px;
}

.about-info h1 {
    font-size: 3rem !important;
    margin-bottom: 30px;
    letter-spacing: 3px;
    text-wrap: nowrap;
}

:lang(en) .about-info h1 {
    font-family: 'EB Garamond', serif !important;
}

.about-info p {
    color: #fef1ef;
    font-size: 1.1rem !important;
    max-width: 500px;
    line-height: 1.6;
}

.about-cont video {
    height: 625px;
    margin-left: 50px;
    border: 2px solid #e09145 !important;
}

@media (max-width:1400px) {
    .about-info h1 {
        font-size: calc(1.4rem + 1.3vw) !important;
    }

    .about-info p {
        font-size: calc(.95rem + .1vw) !important;
        min-width: 300px;
    }

    .about-cont video {
        height: 550px;
    }

}

@media (max-width:1263px) {
    .about {
        height: 1300px;
    }

    .about-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50px;
        left: -15px;
    }

    .about-info {
        position: relative;
        left: 70px;
    }

    .about-info h1 {
        font-size: calc(1.8rem + 1.3vw) !important;
        margin-bottom: 20px;
    }

    .about-cont video {
        margin-top: 30px;
        height: 500px;
    }

    
}




/* ABOUT */


/* MAPS */

.map-cont {
    position: relative;
    width: 400px;
    height: 450px;
    transform: translate(155px, -25px);
}

.map-cont iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border: 2px solid #e09145 !important;
}

.map-cont::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.maps {
    border: 0;
}

/* MAPS */

@media (max-width:1500px) {
    .img-fluid {
        height: 350px!important
    }
}

@media (max-width:1200px) {
    .close {
        font-size: calc(1.275rem + .3vw)
    }
    .flags {
        position: absolute;
        right: 50px;
        bottom: 20px;
        transition: .5s
    }
}

@media (max-width:1300px) {
    .nav-item {
        font-size: 1.3rem;
    }
}

@media (max-width:900px) {
    .jw-modal-body {
        max-width: 80%!important;
        height: 70%;
        flex-direction: column;
        overflow-y: scroll;
        align-items: center
    }

    .jw-modal-body img {
        margin: 0 auto 25px;
        width: 100%
    }

    .modal-price {
        position: relative;
        top: 0;
        right: 0;
        font-size: 1.7rem
    }

    .btn-order {
        position: relative;
        bottom: 0
    }

    .price-cont {
        flex-direction: column
    }
}

#gal:hover {
    cursor: pointer;
}

.jw-modal-body-gallery, .modal-vids {
    display: flex;
    flex-direction: column;
    align-items: center
}

.jw-modal-body-gallery {
    width: 100%;
    height: 100%;
    padding: 50px;
    position: absolute;
    overflow-y: scroll;

    background: #11111185;


    &::-webkit-scrollbar {
        display: none;
    }
}

.modal-vids {
    max-width: 900px;
    width: 100%;
    height: 100%
}

.modal-vids video {
    max-width: 90%!important;
    border-radius: 10px;
    margin: 30px 0;
    border: 1px solid #937354 !important;
}

.gallery-title {
    color: #937354;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'EB Garamond', serif !important;
    font-weight: 300!important;
}

.btn-close {
    height: 50px;
    position: fixed;
    right: 50px;
    top: 50px;
    font-weight: 700;
    font-size: 2rem !important;
    background-color: transparent!important;
    color:#937354 !important;
    outline: none;
    border: none;
    transition: .5s;
    font-size: 1.5rem
}

.btn-close:hover {
    color: #937354 !important;
    background-color: #11212d
}

.btn-close:focus {
    outline: none;
    border: none
}

@media (max-width:600px) {
    .jw-modal-body-gallery h1 {
        font-size: 2.5rem !important;
    }

    .btn-close {
        right: 20px;
        top: 42.5px;
    }
}

@media (max-width:400px) {
    .hero-li {
        font-size: 1rem !important;
        max-width: 60% !important;
        word-wrap: break-word;
        margin: 10px auto
    }

    .hero-img img {
        width: 300px;
        height: 400px !important;
    }

    .about-them div p {
        font-size: .9rem !important;
        max-width: 350px;
    }

    .list-inline {
        width: 90%;
        margin: 0 auto;
    }

    .txt-specz {
        font-size: .8rem !important;
    }

    .submit-btn {
        height: 100%!important;
    }

    .yec, .hcc {
        font-size: 1.1rem !important;
    }

        .jw-modal-body-gallery h1 {
        font-size: 2rem !important;
    }
}

@media (max-width:450px) {
    .flags {
        position: relative;
        left: 20px !important;
        top: 0px !important;
    }
}

@media (max-width:1750px) {
    #header-carousel, .carousel-inner {
        height: 90vh !important;
    }

    .hero-container {
        height: 80vh !important;
        margin-top: 140px !important;
    }

    .khatia-hero {
        width: 350px;
        height: 85%;
    }

    .info-cont {
        height: 80vh;
    }

    .hero-cert {
        display: none;
    }

    .list-inline {
        margin-bottom: 0;
    }

    .list-inline-item {
        margin: 5px;
    }
}

@media (max-height: 750px) {
    #header-carousel, .carousel-inner {
        height: 120vh !important;
    }

    .info-cont {
        height: 120vh !important;
    }

    .modal-text h1 {
        font-size: 1.5rem !important;
    }

    .modal-price {
        display: block !important;
    }
}

@media (max-height: 815px) {
    .jw-modal-body {
        height: 550px !important;
        scrollbar-width: thin !important;
    }
    
    .big-text-cont {
        height: 100%;
    }

    .jw-modal-body button {
        margin-bottom: 20px !important;
    }

    .modal-text p {
        font-size: .9rem !important;
    }

    :lang(el) .big-text {
        font-size: .85rem !important;
    }
}

@media (max-width:1263px) {    
    #header-carousel, .carousel-inner {
        height: 2050px !important;
    }

    .apo-header {
        display: none !important;
    }

    .about-them {
        justify-content: center;
        align-items: center;
    }

    .navbar {
        justify-content: center;
    }

    .logo {
        width: 150px;
        position: relative;
        left: 20px;
    }

    .logo:focus {
        outline: none;
        border: none;
    }

    .info-cont {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .khatia-hero {
        height: 450px !important;
        width: auto;
        margin-bottom: 20px;
    }

    .sub-hero-txt {
        color: #e09145!important;
    }

    .hero-img, .hours-text {
        position: relative;
    }

    .text-khatia {
        margin-bottom: 40px !important;
    }

    .text-theodora {
        margin-top: 40px !important;
    }

    .hours-text {
        min-width: 400px;
    }

    .hours-text .btn-primary {
        position: relative;
    }

    .text-white {
        padding-bottom: 5px
    }
    
    .map-cont {
        transform: translateX(70px);
    }
}

body.jw-modal-open {
    overflow: hidden
}

.active {
    display: block
}